.pn_wapper.hide
  .pn_pad.pn_1
    dl.pn_row
      dd.key(value='京') 京
      dd.key(value='津') 津
      dd.key(value='冀') 冀
      dd.key(value='晋') 晋
      dd.key(value='蒙') 蒙
      dd.key(value='辽') 辽
      dd.key(value='吉') 吉
      dd.key(value='黑') 黑
      dd.key(value='沪') 沪
      dd.key(value='苏') 苏
    dl.pn_row
      dd.key(value='浙') 浙
      dd.key(value='皖') 皖
      dd.key(value='闽') 闽
      dd.key(value='赣') 赣
      dd.key(value='鲁') 鲁
      dd.key(value='豫') 豫
      dd.key(value='鄂') 鄂
      dd.key(value='湘') 湘
      dd.key(value='粤') 粤
    dl.pn_row
      dd.key(value='桂') 桂
      dd.key(value='琼') 琼
      dd.key(value='渝') 渝
      dd.key(value='川') 川
      dd.key(value='贵') 贵
      dd.key(value='云') 云
      dd.key(value='藏') 藏
    dl.pn_row
      dd.key(value='陕') 陕
      dd.key(value='甘') 甘
      dd.key(value='青') 青
      dd.key(value='宁') 宁
      dd.key(value='新') 新
      dd.key.delete_key(value='')
        i.icon.icon-delete
  .pn_pad.pn_2
    dl.pn_row
      dd.key.num_key(value='1') 1
      dd.key.num_key(value='2') 2
      dd.key.num_key(value='3') 3
      dd.key.num_key(value='4') 4
      dd.key.num_key(value='5') 5
      dd.key.num_key(value='6') 6
      dd.key.num_key(value='7') 7
      dd.key.num_key(value='8') 8
      dd.key.num_key(value='9') 9
      dd.key.num_key(value='0') 0
    dl.pn_row
      dd.key.letter_key(value='Q') Q
      dd.key.letter_key(value='W') W
      dd.key.letter_key(value='E') E
      dd.key.letter_key(value='R') R
      dd.key.letter_key(value='T') T
      dd.key.letter_key(value='Y') Y
      dd.key.letter_key(value='U') U
      dd.key.letter_key(value='P') P
      dd.key.last_key(value='港') 港
      dd.key.last_key(value='澳') 澳
    dl.pn_row
      dd.key.letter_key(value='A') A
      dd.key.letter_key(value='S') S
      dd.key.letter_key(value='D') D
      dd.key.letter_key(value='F') F
      dd.key.letter_key(value='G') G
      dd.key.letter_key(value='H') H
      dd.key.letter_key(value='J') J
      dd.key.letter_key(value='K') K
      dd.key.letter_key(value='L') L
      dd.key.last_key(value='学') 学
    dl.pn_row
      dd.key.letter_key(value='Z') Z
      dd.key.letter_key(value='X') X
      dd.key.letter_key(value='C') C
      dd.key.letter_key(value='V') V
      dd.key.letter_key(value='B') B
      dd.key.letter_key(value='N') N
      dd.key.letter_key(value='M') M
      dd.key.delete_key(value='')
        i.icon.icon-delete
